body{
    background-color:gainsboro; 
    padding-top: 110px;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    font-size: 18px;
}

.myFooter{
    text-align: center;
    font-size: 16px;
    color: rgb(65, 65, 65);
    padding-bottom: 50px;
}

.navbar{
    background-color: rgb(225, 194, 166);
    color:black;
}


#theWelcome{
    text-align:center;
}

h1{
    font-size:50px;
}

@media (max-width: 800px){
    h1{
        font-size: 30px;
    }
    body{
        padding-left: 20px;
        padding-right: 20px;
    }
}

#underTitle{
    color:maroon;
    font-size: 22px;
    font-weight: bold;
}

.lets-fade-in{
    animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

#mainSelector{
    text-align: center;
}

#emailAdd:link{
    color:darkblue;
}
