body{
    background-color: rgba(62, 132, 170, 0.3);
    padding-top: 90px;
    padding-left: 30px;
    padding-right: 30px;
}
.btn-secondary:hover{
    background-color: black;
}

.introductory{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 22px;
}

.myFooter{
    text-align: center;
    color: rgb(65, 65, 65);
    padding-bottom: 50px;
}

.myItemsHead{
    font-size: 18px;
    color: darkslateblue; 
}
