*{ padding: 0;
    box-sizing:border-box;
    margin:0;
   
}

.footer{
    align-items:center;
    background-color:rgb(225, 194, 166) ;
    display: fixed;
    text-align: center;
    padding: 10px;
}  
.navbar{
    background-color: rgb(225, 194, 166);
}

.loginForm{
 align-content: center;
}

