
    *{ padding: 0;
        box-sizing:border-box;
        margin:0;
        
        
    }
.section{
    margin-top: 64px;
}
 
.container{
    text-align: center;
    font-size: x-large;
    padding: 0;

    
}
.narbar{
    background-color: rgb(225, 194, 166);
}


 .footer{
    text-align: center;
    background-color: rgb(225, 194, 166);
    font-size: small;
 }

